
/* setup */


*{box-sizing: border-box;
padding: 0;
margin: 0;}

/* colors */

:root{

    /* primary colors */
--green-200: hsl(148, 38%, 91%);
--green-600: hsl(169, 82%, 27%);
--red: hsl(0, 66%, 54%);

/* neutral colors */

--white: hsl(0, 0%, 100%);
--grey-500: hsl(186, 15%, 59%); 
--grey-900: hsl(187, 24%, 22%);

}



/* body */

body{background-color: var(--green-200);
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 100vw;
padding-block: 2rem;
min-height: 100vh;
font-family: 'Karla', sans-serif;}





/* form */

h1{color: var(--grey-900);
    font-size: 2.5rem;
    margin-block-end: 0.5rem;}


/* radio buttons style */

.query{display: flex;
flex-direction: column;
gap: 0.5rem;}

.radio-field{display: flex;
    flex-direction: row;
border: 1px solid;
}

.radio-field,.enquiry{cursor: pointer;}

.radio-field:hover .general-text{color: var(--green-600);}

.radio-field:has(input:checked)  {background-color: var(--green-200);
transition: 500ms ease-in-out;}
.radio-field:has(input:checked) .general-text{color: var(--green-600);}

.enquiry{appearance: none;
font: inherit;
width: 0.9rem;
height: 0.9rem;
border: 0.08rem solid var(--grey-500);
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;}

.enquiry:checked{border: 0.09rem solid var(--green-600);}

.enquiry::before{
    content:"";
    width: 0.45em;
    height: 0.45em; 
    transform: scale(0);
    box-shadow: inset 1em 1em var(--green-600);
    border-radius: 50%;
    clip-path: circle();
}

.enquiry:checked::before{transform: scale(1);}



/* text area */

textarea{ 
    resize: none;
    width: 100%;
    border: 1.2px solid var(--grey-500);
    border-radius: 0.5rem;
   height: 15rem;
   overflow-x: scroll;
   margin-top: 0.5rem;
   font-size: 1.1rem;
}

textarea:hover{border-color: var(--green-600);}

.consent-container{display: flex;
    flex-direction: row;
justify-content: baseline;
align-items: center;
gap: 1.2rem;
}



/* removing the original checkbox and styling a new one to 
change the border color */

.checkbox{appearance: none;
font: inherit;
width: 0.9rem;
height: 0.9rem;
border: 0.1rem solid var(--grey-500);
display: grid;
  place-content: center;
  cursor: pointer;
}

/* the sympol styling */

.checkbox::before {
  content: "";
  width: 0.65em;    /*change the syplol width*/
  height: 0.65em;   /*change the syplol height*/
  transform: scale(0);  /*initially hide the symbol*/
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--white); /*symbol color*/
  clip-path: polygon(10% 55%, 25% 45%, 45% 65%, 85% 20%, 100% 35%, 45% 90%); /*symbol shape*/
}

/* change the color when checked */
.checkbox:checked {
  background-color: var(--green-600); 
  border-color: var(--green-600);
  transition: 120ms transform ease-in-out;     
}

.checkbox:checked::before {
  transform: scale(1); /*show the symbol when checked*/
}

.consent{cursor: pointer;}




/* button */
button{padding-block: 1.2rem;
border:none;
background-color: var(--green-600);
border-radius:0.5rem;
color: var(--white);
font-weight: 600;
font-size: 1rem;
cursor: pointer;
transition: 400ms ease-in-out;}

button:hover{background-color: hsl(168, 80%, 18%);
} 


/* sucess alert */
.success-flex{display: flex;
flex-direction: row;
align-items: center;
gap: 1rem;
margin-block-end: 1rem;
}

.success-title,.success-message{color: var(--white);
}

.success-message{color: var(--green-200);
font-size: 0.9rem;
line-height: 1.2rem;}

.alert{background-color: var(--grey-900);
width:85% ;
max-width: 30rem;
border-radius: 1rem;
padding-block: 1.7rem;
padding-inline: 1.5rem 1rem;
position: fixed;
top: 10%;
right: 50%;
transform: translate(50%, -50%);
visibility: hidden;
transition: opacity 400ms ease, visibility 0s linear 400ms;  /* linear ensures that the alert waits 400ms before disapearing */
opacity: 0;
}

.visible{opacity: 1;
visibility: visible;
transition: opacity 400ms ease, visibility 0s linear 0s;}

/* utility classes */

.block{display: block}

.card{background-color: var(--white);
    display: grid;
    grid-template-rows: repeat(8,auto);
    width: 90vw;
   gap: 1.5rem;
align-items:baseline;
padding-block: 1.5rem;
padding-inline:1.5rem;
border-radius: 1rem;
position: relative;
max-width: 48rem;
}

/* fields */

.border{
    width: 100%;
    border: 1.2px solid var(--grey-500);
    padding-inline:1rem;
    padding-block:1rem;
    border-radius: 0.5rem;
    margin-block-start: 0.5rem;
    cursor: pointer;
}


.border:hover{border:1.33px solid var(--green-600);}


.border:focus, 
textarea:focus {
    outline: none;
    border: 1.4px solid var(--green-600);
}

.hidden{display: none;}

.active{
    border: 1.33px solid var(--red);
}



/* text */

.general-text{color: var(--grey-900); 
font-size: 1.1rem;}
.consent{font-size: 1rem;
    color: var(--grey-900);
   }

   .radio-field{display: flex;
flex-direction: row;
gap: 0.8rem;
align-items: center;
}


span{color:var(--green-600);
font-size: 0.8rem;}

/* ;abels become bolder when typing */

.field-labels:has(input:focus) .general-text{color: var(--grey-900); font-weight: 600;}
.message:has(textarea:focus) .general-text{color: var(--grey-900); font-weight: 600;}


/* error text */
.error-text{color: var(--red);
font-size: 1rem;
padding-block-start: 0.6rem;
}




/* media tablet */

@media (min-width: 45.6rem) {
   .card{grid-template-rows: repeat(7,auto);
grid-template-columns: repeat(2,1fr);}
.first-n{grid-row: 2;
grid-column: 1/2;}
.last-n{grid-row: 2;
grid-column: 2/3;}
.email-container{grid-row: 3;
grid-column: 1/3;}
.query{grid-row: 4;
    grid-column: 1/3;
flex-direction: row;
position: relative;
margin-block: 1rem 1rem
}
.query-type-label{position: absolute;
top: -1.3rem;
}

.query-error{position: absolute;
top: 100%;}
.message{grid-row: 5;
grid-column:1/3;}
.content{grid-row: 6;
grid-column: 1/3;}
button{grid-row: 7;
grid-column: 1/3;}

.alert{top: 7%;


}



}

